{% extends "layout.html" %}

{% block content %}
    <h2 style="color:#FFFFFF">Clients</h2>
    <a href="/new" class="btn btn-primary">Ajouter un client</a>
    <hr >
    {% for p in clients %}
    
        <div class="card border-warning mb-3" style="max-width: 30rem;" id="cartes">
            <div class="card-body">
                <div class="card-header" style="color: #2B2A25">
                    {{p.name}}
                </div>
                <div class="card-text" style="color: #076645">
                    {{p.description}}
                </div>
                <a href="/{{p._id}}" class="btn btn-primary float-center">Voir fiche client</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}